.footer-main {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: grey;
    height: 400px;
    width: 100%;
}

.footer-company-name {
    color: $yellow;
    font-family: "museo-sans",sans-serif;
    font-size: 24px;
    text-shadow: 2px 2px 2px grey;
}

.footer-address-line {
    font-family: "museo-sans-rounded",sans-serif;
    color: white;
    font-weight: 100;
}

.footer-list {
    margin: 0;
    padding-left: 0px;
}

.footer-list-social {
    padding-left: 0px;
}

.footer-item {
    display: inline-block;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
}

.footer-link {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    letter-spacing: 0.5rem;
    color: white;
    text-decoration: none;
    text-align: left;  
}

.footer-social {
    box-sizing: border-box;
    display: inline-block;
    background: $yellow;
    border-radius: 4px;
    margin: 0;
    margin-bottom: 5px;
    padding: 8px 16px;
    padding-bottom: 6px;

}

@media (min-width: 800px) {
   .footer-main {
       flex-direction: row;
       justify-content: space-around;
       height: 200px;
   }

   .footer-list {
    margin-top: 10px;
   }

    .footer-item {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 350px) {
    .footer-list {
        padding-left: 0px;
    }

    .footer-list-social {
        padding-left: 0px;
    }

    .footer-item {
        padding-right: 5px;
        padding-left: 5px;
    }
 
 }