
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: lightgrey;
    height: 60vh;
    text-align: left;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    border-radius: 0 0 8px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);

}

.menu-open {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}

.menu-closed {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-110%);
}

.menu-a {
    font-size: 20px;
    text-transform: uppercase;
    padding: 25px 0;
    letter-spacing: 0.5rem;
    color: black;
    text-decoration: none;
    transition: color 0.3s linear;
    
    &:hover {
      color: $red;
    }
}

@media (min-width: 800px) {
    .menu {
        display: none;
    }
}



@media (max-width: 450px) {
    .menu {
        height: 100vh;
    }

    .menu-a {
        padding: 30px 0;
    }
}
