.modal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
    left: calc(50% - 150px);
    top: 30%;
    width: 300px;
    // height: 30%;
    
}

.modal-enter {
    opacity: 0;
  }
  .modal-enter-active {
    opacity: 1;
    transition: opacity 600ms;
  }
  .modal-exit {
    opacity: 1;
  }
  .modal-exit-active {
    opacity: 0;
    transition: opacity 400ms;
  }

.modal-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 40%;
}

.modal-title {
    font-family: "museo-sans", sans-serif;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 10px;
}

.modal-icon {
    background: $yellow;
    margin: 10px;
    padding: 5px 5px;
}

.modal-p {
    font-family: "museo-sans-rounded", sans-serif;
    font-weight: 300;
    text-align: left;
}

.close-x {
    position: absolute;
    top: 5%;
    right: 20px;
    cursor: pointer;
}

@media (min-width: 600px) {
    .modal {
        width: 500px;
        height: 200px;
        margin: auto;
        left: calc(50% - 250px);
    }

    .modal-container {
        margin: auto;
    }
}

@media (max-width: 320px) {
    .modal {
       left: 3%;
    }


}